<div class="container"
     ng-controller="mainCtrl as mc">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed"
                data-target="#bs-example-navbar-collapse-2"
                data-toggle="collapse"
                type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!--directive name was bsBrandName-->
        <!--directive as an element-->
        <!--<bs-brand-name></bs-brand-name>-->
        <span bs-brand-name=""></span>
      </div>
      <div class="collapse navbar-collapse"
           id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav">
          <li class="active">
            <a ui-sref="home">{{"Home"|translate}}</a>
          </li>
          <li>
            <a ui-sref="register">{{"Register"|translate}}</a>
          </li>
          <li>
            <a ui-sref="products">{{"Products"|translate}}</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li ng-click="mc.changeLanguage('en')">
            <a class="btn btn-primary btn-lg"
               href="">English</a>
          </li>
          <li ng-click="mc.changeLanguage('de')">
            <a class="btn btn-primary btn-lg"
               href="">Deutsch</a>
          </li>
          <li>
            <a class="btn btn-primary btn-lg"
               ui-sref="cart">
            <span class="glyphicon glyphicon-shopping-cart"></span>Cart {{mc.cartItemsCount}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
